.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	hr {
		border: 0;
		height: 1px;
		background: #333;
		background-image: linear-gradient(to right, #ccc, #333, #ccc);
		width: 80vw;
	}
}
