.buttons-container {
	display: flex;
	justify-content: space-evenly;
	width: 100vw;
	margin-bottom: 1em;

	.button {
		text-align: center;
		border: 1px solid #3E7CB1;
		font-size: 0.8em;
		width: 20vw;
		font-weight: 600;
		padding-left: 0.5em;
		padding-right: 0.5em;
		padding-bottom: 0.25em;
		padding-top: 0.25em;
		margin: 0 auto;

		&:hover {
			background: rgba(62, 124, 177, 0.5);
		}

		p {
			pointer-events: none;
		}

		@media only screen and (max-height: 520px) and (orientation: landscape) {
			padding: 0;
		}
	}

	.active {
		@extend .button;
		background: rgba(62, 124, 177, 0.8);
	}
}