.contact {
	margin-left: 200vw;
	height: 100%;
	position: absolute;
	width: 92%;
	transition: margin-left 0.5s linear;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;

	h3 {
		text-align: center;
		font-size: 1.6em;
	}

	p {
		font-size: 1em;
		text-align: center;
		margin: 0;
		line-height: 1.5em;
	}

	&.active {
		margin-left: 0;
	}

	.contact-sec {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		align-items: center;
		height: 30%;

		@media only screen and (min-width: 800px) {
			width: 50%;
		}
	}

	@media only screen and (max-height: 520px) and (orientation: landscape) {
		overflow-y: scroll;
	}
}